.cards {
  &__widget {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 1rem;
  }

  &__widget > * {
    margin: 0;
  }
  &__item {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    position: relative;
  }

  &__item-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    flex: 1;
  }
  &__item-title,
  &__item-description-title {
    margin-top: 1rem;
  }
  &__item-title,
  &__item-body,
  &__item-toolbar {
    padding: 0 0.5rem;
  }
  &__item-toolbar {
    margin-bottom: 1rem;
  }
  &__item-description {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 4.5rem;
    overflow-y: auto;
    padding: 1rem;
    margin: 0;
    background-color: #ffffff;
  }
  &__item-state .icon {
    opacity: 0;
  }
  &__item-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__item-description {
    opacity: 0;
  }
  &__item {
    &.is-visited {
      .cards__item-state .icon {
        opacity: 1;
      }
    }
    &.is-active {
      .cards__item-description {
        opacity: 1;
      }
    }
  }
}
